# Time Series

In [2]:
import pandas as pd
import numpy as np

## Date and Time Data Types and Tools

In [3]:
from datetime import datetime

now = datetime.now()
now

datetime.datetime(2023, 3, 25, 14, 7, 8, 734818)

In [5]:
delta = datetime(2011,1,7)- datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
from datetime import timedelta

start = datetime(2011, 1, 7)

start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

### Converting between String and Datetime

In [8]:
stamp = datetime(2011, 1, 3)
str(stamp), stamp.strftime('%Y-%m-%d')

('2011-01-03 00:00:00', '2011-01-03')

In [9]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [11]:
date_strings = ['7/6/2011', '8/6/2011']

[datetime.strptime(date_string, '%m/%d/%Y') for date_string in date_strings]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [12]:
date_strings = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

pd.to_datetime(date_strings)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [15]:
idx = pd.to_datetime(date_strings + [None])
idx, pd.isna(idx)

(DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None),
 array([False, False,  True]))

## Time Series Basics

In [16]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.standard_normal(6), index=dates)
ts

2011-01-02    1.094793
2011-01-05   -0.977581
2011-01-07    0.159597
2011-01-08   -0.125876
2011-01-10   -0.298429
2011-01-12   -1.915229
dtype: float64

In [17]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [20]:
ts + ts[::2]

2011-01-02    2.189586
2011-01-05         NaN
2011-01-07    0.319195
2011-01-08         NaN
2011-01-10   -0.596858
2011-01-12         NaN
dtype: float64

In [23]:
ts.index.dtype

dtype('<M8[ns]')

False