In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

*Exercise: Load the 'tips' dataset from seaborn library and perform the following data cleaning and preparation tasks:*
- Drop any missing values from the dataset.
- Convert the 'tip' column to integer values by rounding it to the nearest integer.
- Create a new column called 'tip_percentage' which represents the percentage of tip given by the customer, rounded to two decimal places.
- Group the data by 'day' and 'time' and calculate the average tip_percentage for each group.

### Drop Missing Values

In [2]:
tips = sns.load_dataset('tips')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

**NOTE:** Dataset does not have any missing values

### Convert 'tip' column to integer by rounding to nearest integer

In [3]:
def nearest_integer(value: np.float64) -> np.int64:
    return round(value, 0)

tips['tip_int'] = tips['tip'].map(nearest_integer)
tips['tip_int'].dtype

# Another way
tips['tip'].round().astype(int).dtype

dtype('int32')

### Create a new column names 'tip_percentage' (percentage of tip given rounded to two decimal places)

In [4]:
tips['tip_percentage'] = tips['tip'].div(tips['total_bill']).round(2)
tips['tip_percentage']

0      0.06
1      0.16
2      0.17
3      0.14
4      0.15
       ...
239    0.20
240    0.07
241    0.09
242    0.10
243    0.16
Name: tip_percentage, Length: 244, dtype: float64

### Group data by 'day' and 'time' and calculate the average tip_percentage for each group

In [5]:
tips.groupby(['day', 'time'])['tip_percentage'].mean()

day   time
Thur  Lunch     0.161148
      Dinner    0.160000
Fri   Lunch     0.188571
      Dinner    0.158333
Sat   Lunch          NaN
      Dinner    0.153678
Sun   Lunch          NaN
      Dinner    0.166974
Name: tip_percentage, dtype: float64

## Exercise 2: Load the 'titanic' dataset from seaborn library and perform the following data cleaning and preparation tasks:

- Drop any missing values from the dataset.
- Create a new column called 'family_size' which represents the total number of family members (including the passenger) on board for each passenger.
- Replace the values in the 'sex' column with 0 for 'male' and 1 for 'female'.
- Create a new column called 'age_group' which represents the age group of each passenger. The age groups should be as follows:
    - Child: age < 18
    - Adult: 18 <= age < 60
    - Senior: age >= 60
- Group the data by 'sex', 'pclass', and 'age_group' and calculate the survival rate for each group.

### Drop any missing value from dataset

In [6]:
titanic = sns.load_dataset('titanic')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [7]:
titanic = titanic.drop('deck', axis='columns')
titanic = titanic.dropna()

In [8]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     712 non-null    int64
 1   pclass       712 non-null    int64
 2   sex          712 non-null    object
 3   age          712 non-null    float64
 4   sibsp        712 non-null    int64
 5   parch        712 non-null    int64
 6   fare         712 non-null    float64
 7   embarked     712 non-null    object
 8   class        712 non-null    category
 9   who          712 non-null    object
 10  adult_male   712 non-null    bool
 11  embark_town  712 non-null    object
 12  alive        712 non-null    object
 13  alone        712 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 69.0+ KB

### Create a new column called 'family_size' which represents the total number of family members (including the passenger) on board for each

In [16]:
titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1
titanic['family_size'].value_counts()

1    402
2    139
3     93
4     27
6     22
7     12
5     11
8      6
Name: family_size, dtype: int64

### Replace the values in the 'sex' column with 0 for 'male' and 1 for 'female'.

In [17]:
string_to_int_map = lambda sex: 1 if sex == 'female' else 0

titanic['sex'] = titanic['sex'].map(string_to_int_map)
titanic['sex']

# Another way
titanic['sex'] = titanic['sex'].replace({'male': 0, 'female': 1})

0      0
1      1
2      1
3      1
4      0
      ..
885    1
886    0
887    1
889    0
890    0
Name: sex, Length: 712, dtype: int64

- Create a new column called 'age_group' which represents the age group of each passenger. The age groups should be as follows:
    - Child: age < 18
    - Adult: 18 <= age < 60
    - Senior: age >= 60

In [20]:
age_categorical_map = lambda age: 'Child' if age < 19 else 'Adult' if age < 60 else 'Senior'

titanic['age_group'] = titanic['age'].map(age_categorical_map)
titanic['age_group'].value_counts()

Adult     548
Child     139
Senior     25
Name: age_group, dtype: int64

### Group the data by 'sex', 'pclass', and 'age_group' and calculate the survival rate for each group.

In [29]:
from pandas.core.groupby.generic import DataFrameGroupBy


def survival_rate_map(grouped: DataFrameGroupBy):
    return grouped['survived'].count() / titanic['survived']


survival_rate = titanic.groupby(['sex', 'pclass', 'age_group'])['survived'].mean()
survival_rate.map(lambda survival_rate: round(survival_rate * 100, 2))

sex  pclass  age_group
0    1       Adult         41.46
             Child         80.00
             Senior        14.29
     2       Adult          6.25
             Child         60.00
             Senior        25.00
     3       Adult         13.64
             Child         21.57
             Senior         0.00
1    1       Adult         97.14
             Child         90.91
             Senior       100.00
     2       Adult         90.00
             Child        100.00
     3       Adult         41.38
             Child         51.16
             Senior       100.00
Name: survived, dtype: float64